* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 100%);
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100vh;
}

#root div {
  background-color: #8EC5FC;
  background-image: linear-gradient(327deg, #8EC5FC 0%, #f4f4f4 79%);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

header {
  text-align: center;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#lista-tarefas {
  margin: 10px 0;
}

.list-item {
  margin-left: 30px;
}

/* input */
#texto-tarefa {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border-width: 0px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(66,66,66,.75);
}
#texto-tarefa:focus {
  outline:none;
}

/* botão de criar tarefa */
#criar-tarefa {
  margin: 2px;
	box-shadow: 0px 1px 9px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:28px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	padding: 2px 12px;
	text-decoration:none;
	text-shadow:0px 0px 0px #1570cd;
}
#criar-tarefa:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
#criar-tarefa:active {
	position:relative;
	top:1px;
}

/* botão de remover as tarefa */
#apaga-tudo, #remover-finalizados, #remover-selecionado {
  margin: 2px;
  box-shadow: 0px 1px 9px 0px #e67a73;
  background: linear-gradient(to bottom, #b23e35 5%, #eb675e 100%);
	background-color: #e4685d;
	border-radius: 28px;
	border: 1px solid #eb675e;
	display: inline-block;
	cursor: pointer;
	color: #f4f4f4;
  padding: 2px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#apaga-tudo:hover, #remover-finalizados:hover, #remover-selecionado:hover {
  background: linear-gradient(to bottom, #b23e35 5%, #e67a73 100%);
	background-color:#eb675e;
}
#apaga-tudo:active, #remover-finalizados:active, #remover-selecionado:active {
	position:relative;
	top:1px;
}

/* botão de salvar tarefas */
#salvar-tarefas {
  margin: 2px;
	box-shadow: 0px 1px 9px 0px #3dc21b;
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #f4f4f4;
	padding: 2px 12px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #2f6627;
}
#salvar-tarefas:hover {
	background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color: #5cbf2a;
}
#salvar-tarefas:active {
	position: relative;
	top: 1px;
}

#mover-cima, #mover-baixo {
  margin: 2px;
	box-shadow: 0px 1px 9px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:28px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color: #f4f4f4;
	padding: 2px 12px;
	text-decoration:none;
	text-shadow:0px 0px 0px #cc9f52;
}
#mover-cima:hover, #mover-baixo:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
#mover-cima:active, #mover-baixo:active {
	position:relative;
	top:1px;
}